docker run -d \
   --name mopidy \
   --net host \
   --device /dev/snd  \
   -v ~/.config/mopidy/mopidy-docker.conf:/root/.config/mopidy/mopidy.conf \
   -v /data/music:/data/music \
thedingstroders/mopidy:latest
